<html>
    <head>
        <title>Login</title>
    </head>
    <body>
        <h1>Login</h1>
        <div>
            <form action="/login" method="post">
                <input type="hidden" name="csrf_token" value="{{ csrf_token() }}"/>
                <input type="text" id="uname" name="username" placeholder="Username" required/>
                <br/>
                <input type="password" id="pword" name="password" placeholder="Password" required/>
                <br/>
                <input type="number" id="2fa" name="mfa" placeholder="Two-Factor Auth" required/>
                <br/>
                <input type="submit" value="Login">
            </form>
        </div>
        {% if result %}
            <p id="result">{{ result }}</p>
        {% endif %}
        <a href="/">Go back</a>
    </body>
</html>
