<html>
    <head>
        <title>Spellcheck</title>
    </head>

    <body>
        <form action="spell_check" method="post">
            <textarea id="inputtext" name="unchecked" rows="5" cols="50" maxlength="1000" required></textarea>
            <input type="submit" value="Submit">
        </form>
        <textarea id="textout" readonly rows="5" cols="50"> {{ original }} </textarea>
        <textarea id="misspelled" readonly rows="5" cols="50"> {{ misspelled }} </textarea>
        <br><a href="/">Go back</a>
    </body>
</html>
